In [23]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv("USpreprocessed.csv")

In [25]:
df.dropna(inplace=True)

In [26]:
df.head()

      video_id  ... pub_hour
0  2kyS6SvSYSE  ...       17
1  1ZAPwfrtAFY  ...        7
2  5qpjK5DgCt4  ...       19
3  puqaWrEC7tY  ...       11
4  d380meD0W0M  ...       18

[5 rows x 20 columns]

In [27]:
 df.drop("thumbnail_link", axis=1, inplace=True)

In [28]:
df.drop_duplicates("video_id", keep="last", inplace=True)

In [29]:
df.shape

(6248, 19)

In [30]:
df.columns

Index(['video_id', 'title', 'channel_title', 'category_id', 'views', 'likes',
       'dislikes', 'comment_count', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description', 'trend_date', 'trend_month',
       'trend_year', 'pub_date', 'pub_month', 'pub_year', 'pub_hour'],
      dtype='object')

In [31]:
df.drop(["video_id"], axis=1, inplace=True)

In [32]:
df_x = df.drop("category_id", axis=1)
df_y = pd.get_dummies(df["category_id"], prefix="cat")

In [33]:
df_x["text"]=df_x["title"]+" "+df_x["channel_title"]+" "+df_x["description"]

In [34]:
df_x.drop(["title", "channel_title", "description"], axis=1, inplace=True)

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer(ngram_range=(1,2), max_df=0.5, max_features=10000)

In [36]:
vectorized_text = vectorizer.fit_transform(df_x["text"])

In [37]:
vectorized_text.shape

(6248, 10000)

In [38]:
from sklearn.decomposition import PCA
pca=PCA(n_components=1000)

In [39]:
vec_text_pca = pca.fit_transform(vectorized_text.todense())

In [40]:
pca.explained_variance_ratio_.sum()

0.7325288070586264

In [41]:
df_x.drop("text", axis=1, inplace=True)

In [49]:
x=df_x.to_numpy()
y = df_y.to_numpy()
x=np.c_[x, vec_text_pca]
print(x.shape)
print(y.shape)

(6248, 1014)
(6248, 16)

In [55]:
import numpy as np
import torch
import torch.utils.data as tud
import torch.nn as tnn

In [ ]:
# incomplete
class my_dataset(tud.Dataset):
  def __init__(self, size=10000):
    self.data = x
    self.labels=labels
  
  def __len__(self):
    return len(self.data)

  def __getitem__(self, idx):
    return {'point': self.data[idx], 'label': self.labels[idx]}