In [1]:
import numpy as np
import pandas as pd
import PIL
import matplotlib.pyplot as plt

In [2]:
import nltk
nltk.download("stopwords")
nltk.download("punkt")
import string

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [3]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
from nltk import word_tokenize
from nltk.stem.porter import PorterStemmer
porter = PorterStemmer()

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/sheelfshah/iitb_ds203_project/master/INvideos.csv")

In [5]:
df.head()

      video_id  ...                                        description
0  kzwfHumJyYc  ...  Presenting Sharry Mann latest Punjabi Song  Cu...
1  zUZ1z7FwLc8  ...  पीरियड्स के समय, पेट पर पति करता ऐसा, देखकर दं...
2  10L1hZ9qa58  ...  Watch Stylish Star Allu Arjun @ ChaySam Weddin...
3  N1vE8iiEg64  ...  This video showcases the difference between pe...
4  kJzGH0PVQHQ  ...  why Samantha became EMOTIONAL @ Samantha naga ...

[5 rows x 16 columns]

In [6]:
df.describe()

        category_id         views         likes      dislikes  comment_count
count  37352.000000  3.735200e+04  3.735200e+04  3.735200e+04    37352.00000
mean      21.576596  1.060478e+06  2.708272e+04  1.665082e+03     2676.99743
std        6.556593  3.184932e+06  9.714510e+04  1.607617e+04    14868.31713
min        1.000000  4.024000e+03  0.000000e+00  0.000000e+00        0.00000
25%       23.000000  1.239155e+05  8.640000e+02  1.080000e+02       81.00000
50%       24.000000  3.045860e+05  3.069000e+03  3.260000e+02      329.00000
75%       24.000000  7.992912e+05  1.377425e+04  1.019250e+03     1285.00000
max       43.000000  1.254322e+08  2.912710e+06  1.545017e+06   827755.00000

In [7]:
df.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

In [9]:
def text_preprocess(s):
  s=str(s)
  s = s.lower()
  s = "".join([char for char in s if char not in string.punctuation])
  s = word_tokenize(s)
  s = [word for word in s if word not in stop_words]
  s = [porter.stem(word) for word in s]
  return " ".join(s)

In [10]:
df['description'] = df['description'].apply(text_preprocess)

In [11]:
df['title'] = df['title'].apply(text_preprocess)

In [13]:
df.drop(['tags'], axis=1, inplace=True)

In [14]:
df["trend_date"]=df["trending_date"].apply(lambda s: s[-2:])
df["trend_month"]=df["trending_date"].apply(lambda s: s[-5:-3])
df["trend_year"]=df["trending_date"].apply(lambda s: s[:2])
df.drop("trending_date", axis=1, inplace=True)

In [15]:
df.head()

      video_id  ... trend_year
0  kzwfHumJyYc  ...         17
1  zUZ1z7FwLc8  ...         17
2  10L1hZ9qa58  ...         17
3  N1vE8iiEg64  ...         17
4  kJzGH0PVQHQ  ...         17

[5 rows x 17 columns]

In [16]:
df["pub_date"]=df["publish_time"].apply(lambda s: s[8:10])
df["pub_month"]=df["publish_time"].apply(lambda s: s[5:7])
df["pub_year"]=df["publish_time"].apply(lambda s: s[2:4])
df["pub_hour"]=df["publish_time"].apply(lambda s: s[11:13])
df.drop("publish_time", axis=1, inplace=True)

In [17]:
df.head()

      video_id  ... pub_hour
0  kzwfHumJyYc  ...       12
1  zUZ1z7FwLc8  ...       05
2  10L1hZ9qa58  ...       15
3  N1vE8iiEg64  ...       07
4  kJzGH0PVQHQ  ...       01

[5 rows x 20 columns]